.company{
	font-family: verdana,arial,helvetica;
	FONT-SIZE: 15px;
	 color: #5C0A4D;
	 font-weight:bold;
}
.slogan {
	font-family: verdana,arial,helvetica;
	FONT-SIZE: 12px;
	 color: #FFFFFF;
	 font-weight:bold;
}
.magin {
	padding:5px;
}
table { font-size:100%;} body { font-size:76%;
	margin:0;
	padding:0;
	background-image:url(images/bgindex.jpg);
}
a:active {color: #43277F; text-decoration: none;}
a:link {color: #D339B7; text-decoration: none;}
a:visited {color: #D339B7; text-decoration: none;}
a:hover {color: #43277F; text-decoration: none;}

a.hostlink:active {color: #000000; text-decoration:underline;font-size:9px;font-weight: bold;}
a.hostlink:link {color: #000000; text-decoration:none;font-size:9px;font-weight: bold;}
a.hostlink:visited {color: #000000; text-decoration:none;font-size:9px;font-weight: bold;}
a.hostlink:hover {color: #000000; text-decoration:underline;font-size:9px;font-weight: bold;}

.bgindex {
	background-color:#EAEAEA;
}
.bg_expand {
	background-image:url(images/bg_expand.jpg);
}
.bgtop {
	background-image:url(images/top02.jpg);
}
.bdrleft {
	background-image:url(images/bdrleft.jpg);
}
.bdrright {
	background-image:url(images/bdrright.jpg);
}
.bgbottom {
	background-image:url(images/bottom02.jpg);
}
.marginmenu {
	padding-left:5px;
	padding-right:5px;
	background-color:#9C8FB8;
}

.bgpowered {
	background-image:url(images/bgpowered.jpg);
	font-size:9px;
	color:#000000;
}
.bgpowered2 {
	background-image:url(images/bgpowered2.gif);
	border:1px solid #000000;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
}
.marginpw {
	padding-top:3px;
	padding-bottom:2px;
}
.marginpw2 {
	padding-left:2px;
	padding-right:2px;
}