.navigator {
	margin:0px;
	padding:0px;
}
.navigator ul li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
	float:left;
}
.navigator a {
	float:left;
	margin:0px;
	font-weight:normal;
	text-decoration:none;
	color: #000000;  
	white-space:nowrap; 
	background-image: url(navimages/bg_n_gd.jpg?cache=bb06f7173734b9edb77296aa7d73c920); 
	background-position:top; 
	background-repeat: repeat-x; 
}
.navigator a span {
	float:left;
	display:block;
	padding:8px 15px 8px 15px;
	white-space:nowrap;
	border-top:#E6C290 solid 1px;
	border-bottom:#E0CEAB solid 1px;
}
/* hide from Mac IE5 */
.navigator a span {float:none;}
/* end hack */
.navigator a:hover, .navigator #current {
	background-image: url(navimages/tab_left02.jpg?cache=ef39892bbfcd5cebf8ce966dddddce67);
	background-position:bottom left; 
	background-repeat: repeat-x;
	color: #7C4A01; 
}
.navigator a:hover span, .navigator #current span {
	display:block;
	float:left;
	background-image: url(navimages/tab_right02.jpg?cache=8c083b938a2225ef78649c3bd66d3f99);
	background-position:bottom right; 
	background-repeat: no-repeat; 
	border-top:#FFFFFE solid 1px;
	border-bottom:#825B25 solid 1px;
	padding:8px 15px 8px 15px;
}

/*  css for PHP Layers Menu 3.2.0-rc (C) 2001-2004 Marco Pratesi - http://www.marcopratesi.it/  */

.submenu {
	left: 0px; 
	top: 0px;
	visibility: hidden; 
	position: absolute;
	padding:0 0 0 5px;
	z-index:25;
}
.subframe {
	border: #825B25 1px solid; 
	display: block; 
	filter: alpha(opacity=95); 
	position: absolute;
	background-color: #7C4A01;
	text-indent: 5px;
}
.item {
	white-space: nowrap; 
	text-align: left;
	border-bottom: 1px solid #825B25;
	margin-top: 0px;
}
.item a {
	font-weight: normal; 
	color:#FFFFFF; 
	text-decoration: none;
	position: relative;
	display:block;
	padding:3px;
}
.item a:hover {
	font-weight:normal; 
	color:#FFFFFF; 
	text-decoration:none; 
	background-color:#D18319;
	display:block;
	position: relative;
	padding:3px;
}
.item .fwdarr {
	right: 7px;
	top: 5px; 
	position: absolute;	
}
