RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://coachingpravoce.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coachingpravoce.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coachingpravoce.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coachingpravoce.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.com.br.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.com.br.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lermelhor.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coachingpravoce.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coachingpravoce.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coachingpravoce.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coachingpravoce.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.com.br.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.com.br.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lermelhor.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coachingpravoce.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coachingpravoce.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coachingpravoce.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coachingpravoce.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.com.br.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.com.br.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lermelhor.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coachingpravoce.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coachingpravoce.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coachingpravoce.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coachingpravoce.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.digitalfotoimagem.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.com.br.lermelhor.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.com.br.lermelhor.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.digitalfotoimagem.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lermelhor.digitalfotoimagem.com.br$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

