.company{
	font-family: verdana,arial,helvetica;
	FONT-SIZE: 15px;
	 color: #BF170B;
	 font-weight:bold;
}
.slogan {
	font-family: verdana,arial,helvetica;
	FONT-SIZE: 11px;
	 color: #BF170B;
	 font-weight:bold;
}
.magin {
	padding:5px;
}
table { font-size:100%;} body { font-size:76%;
	margin:0;
	padding:0;
	background-color:#FFFFFF;}

a:active {color: #BF170B; text-decoration: none;}
a:link {color: #793E27; text-decoration: none;}
a:visited {color: #793E27; text-decoration: none;}
a:hover {color: #BF170B; text-decoration: none;}


.bgtop01 {background-image:url(images/bgtop_01.jpg);}
.pattern01 { background-image:url(images/pattern_01.jpg);}
.pattern02 { background-image:url(images/pattern_02.jpg);}
.bgmenu {background-color:#FAB9A6;}
.bgbottom { background-image:url(images/bgbottom.jpg);}
.bgtop02 {background-image:url(images/bgtop_02.jpg);}







