
.form-text {
    position: relative;
    font-size: 18px !important;
    line-height: 1.2 !important;
    color: #000 !important;
}

textarea {
    width: 100% !important;
}

.coaching-1 {
	display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 500px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}

.coaching-2 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 500px;
    width: 200px;
    right: 500px;
    font-size: 14px;
}
.coaching-3 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 500px;
    width: 200px;
    left: 750px;
    font-size: 14px;
}
.coaching-4 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 560px;
    width: 200px;
    left: 150px;
    font-size: 14px
}
.coaching-5 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 620px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
.coaching-6 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 680px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
.coaching-7 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 740px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
.coaching-8 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 800px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
.coaching-9 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 860px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
.coaching-10 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 920px;
    width: 200px;
    left: 150px;
    font-size: 14px;
}
