
.form-text {
    position: relative;
    font-size: 18px !important;
    line-height: 1.2 !important;
    color: #000 !important;
}

textarea {
    width: 100% !important;
}

.coaching-gear-1 {
	display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 420px;
    width: 200px;
    left: 30px;
    font-size: 14px;
}

.coaching-gear-2 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 520px;
    width: 200px;
    left: 30px;
    font-size: 14px;
}
.coaching-gear-3 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 620px;
    width: 200px;
    left: 30px;
    font-size: 14px;
}
.coaching-gear-4 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 720px;
    width: 200px;
    left: 30px;
    font-size: 14px
}
.coaching-gear-5 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 820px;
    width: 200px;
    left: 30px;
    font-size: 14px;
}
.coaching-gear-6 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 420px;
    width: 200px;
    right: 30px;
    font-size: 14px;
}
.coaching-gear-7 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 520px;
    width: 200px;
    right: 30px;
    font-size: 14px;
}
.coaching-gear-8 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 620px;
    width: 200px;
    right: 30px;
    font-size: 14px;
}
.coaching-gear-9 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 720px;
    width: 200px;
    right: 30px;
    font-size: 14px;
}
.coaching-gear-10 {
    display: inline-block;
    position: absolute;
    color: #000;
    border: 1px solid #8d9aa6;
    top: 820px;
    width: 200px;
    right: 30px;
    font-size: 14px;
}
