.btn {

    padding: 10px 85px;
  
      border: 3px solid #f16c20;
  
      border-color: #f16c20;
  
      border-radius: 30px;
  
      color: #f16c20;
  
      background: rgba(241,108,32,0.4);
  
      font-size: 20px;
  
      white-space: initial;
  
      text-decoration: none;
  
  }

  
  .btn:hover {
  
    border-color: #f16c20;
  
    color: #fff;
  
    background: #f16c20;
  
    text-decoration: none;
  
  }
  
  